* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

img {
    object-fit: cover;
}

body {
    font-family: 'Kanit', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}
nav {
    padding: 1rem;
    background-color: rgb(151, 0, 0);
    
    
}
.nav-con {
    display: flex;
    justify-content: space-between;
}
.logo a {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li  {
    margin: 0 1rem;
}

.menu li a {
    color: rgba(255, 255, 255);
    text-decoration: none;
}

.hero {
    background-color: rgb(255, 232, 232);
}

.hero-con {
    display: flex;
    
}

.hero-img {
    width: 100%;
    padding: 2rem;
}

.hero-info {
    width: 100%;
    padding: 2rem;
}
.hero-info h3 {
    font-size: 2rem;
    color: black;
}

.hero-info p {
    margin: 1rem 0;
    color: black;
}

.hero-info .hero-btn {
    display: inline-block;
    background-color: rgb(151, 0, 0);
    color: white;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.blog-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;

}

.blog-title{
 margin: 3rem 0;
}


.blog-item img {
    width: 100%;
}

.blog-item h4 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.blog-item a {
    display: inline-block;
    background-color: rgb(151, 0, 0);
    color: white;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}
.blog-title h3 {
    font-size: 2rem;
    color: black;
}
.blog-item p {
    margin:  1rem 0;
    color: black;
}
.footer-top {
    margin-top: 2rem;
    padding: 3rem;
    background-color: #333;
    color: white;
    
    
}
.footer-top-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    
}
.footer-top-item:nth-child(2) h4 {
 margin-bottom: 1rem;
}

.footer-top-item:nth-child(3) h4 {
    margin-bottom: 1rem;
   }
.footer-bottom {
    background-color: #757575;
    color: white;
    padding: 1rem;
    text-align: center;
}   

.header {
    margin: 0 auto;
    background-color: #f88989;
    height: 150px;
    padding: 1rem 2rem;
    text-align: center;
    margin-top: 2rem;
}
.header h3 {
    font-size: 5rem;
}

.pro-img{
    width: 600px;
    height: 600px;
    align-items: center;
    justify-content: center;
    float:left ;
    background-color: #f88989;
    border-radius: 100%;
    margin-top: 2rem;
}

.pro-info {
    margin-top: 5rem;
    width: 400px;
    height: 400px;
    background-color: #f88989;
    border-radius: 3%;
    float:left ;
    margin-left: 5rem;
    
}

.pro-info p {
    font-size: 2rem;
    margin: 2rem 0.5rem;
}

.talen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem;
    
    box-sizing: border-box;
    padding: 1rem;
}

.talen-fix {
    width: 90%;
    height: 90%;
    margin: 3rem 3rem;
    background-color: #757575;
    border-radius: 4px;
}

.talen-fix h4 {
    margin:  1rem 2rem;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
}

.cont2 {
    display: grid;
    column-gap: 1fr;
    
    
}
.cont2 a,p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    text-decoration-line: none;
}

.talen-fix p {
    margin: 0 1.5rem;
    font-size: 1.2rem;
    color: #ffffff;

}

.edu {
    box-sizing: border-box;
    margin: 3rem auto;
    text-align: center;
    
}

.edu-ht{
    margin: 2rem;
}

.edu-ht p {
    font-size: 1.5rem;
}

.edu-ht h3 {
    margin: 2rem;
    font-size: 2rem;
}

.fixaty {
    
    margin: 2rem 15rem;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2rem;
   

    
}

.fixC {
    
    margin: 2rem 15rem;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2rem;
   

    
}

.aty {
    width: 428px;
    height: 550px;
    background-color: #ffd6d6;
    border-radius: 10px;
    margin: 1.5rem 1.5rem;
    
}

.aty-img img {
    width: 100%;
    padding: 1rem;
    justify-content: center;
    
    
}

.aty-info {
    width: 100%;
    padding: 2rem;
}
.aty-info h3 {
    font-size: 1.5rem;
}

.aty-info p {
    font-size: 1rem;
    color: black;
}


.contact {
    background-color: rgb(187, 187, 187);
    height: 350px;
}
.contact-info {
    color: white;
    text-decoration: none;
    margin: 4rem;
    margin-top: 2rem;
}

.contact-info h3 {
    font-size: 3rem;
}

.contact-info p {
    font-size: 1.5rem;
    margin: 1rem;
}

.contact-btn .btnc {
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    background-color: black;
    border-radius: 3px;
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    

}
.contact-btn a {
    font-size: 1.5rem;
}

.tra {
    margin: 2rem;
    display: grid;
    column-gap: 1fr;
    align-items: center;
    justify-items: center;
   
}

.nav-con {
    list-style: none;
    text-decoration: none;
}